*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml

app/build/
build/

google-services.json
firebase-debug.log
app/google-services.json

*.keystore
*.jks
env.properties
secrets.properties

Thumbs.db
Desktop.ini

docs/view.html
